.centerDiv{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.lbleft {
    margin-right: 20px;
text-align: right;
}
.divRow{
    display: flex;
    flex-direction: column;
}
.tf{
    margin-left: 0px;
}